<script>

  $(document).ready(function () {
    $.fn.dataTable.moment('DD/MM/YYYY HH:mm:ss');
    $('#1').DataTable({
      "order": [
        [0, "desc"]
      ]
    });
  });
</script>

<h2>Welcome
  <%= current_user.email %>
  -
  <%= current_user.company.name %>
</h2>

<table id="1" border="1" class=" table table-striped table-bordered table-sm">
  <thead>
    <tr>
      <th>Date / Time</th>
      <th>Caller</th>
      <th>Duration</th>
      <th>Status</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    <% @calls.each do |record| %>
      <tr>
        <td><%= record.created_at.strftime("%d/%m/%Y %H:%M:%S")%></td>
        <% name = Phonebook.find_by(number: record.from) %>
          <td><%= "+"+record.from %>
            <% if name.present? %>
              <%= " - "+name.name %>
            <% end %>
          </td>
          <td><%= record.duration %></td>
          <td><%= record.status %></td>
          <td><%= link_to "View Call", record %>
            <% if record.status == "Recording Available" %>
              /
              <%=link_to_if(record.status == "Recording Available", 'Download Recording', "https://api.twilio.com/2010-04-01/Accounts/"+record.company.accountSID+"/Recordings/"+record.recordingsid+".wav?Download=true")%>
              /
              <%= link_to_if(record.status == "Recording Available", 'Re-Send E-Mail', resend_email_path(:call => record)) %>
              /
              <%= link_to_if(record.status == "Recording Available",'Delete Recording',delete_single_recording_path(:call => record),data: {confirm:'Please only click OK if you are sure you wish to delete this recording. Once deleted the deletion will be logged
              against your user account, and there will be no way to retrieve the recording in the future.'})%>
            <% end%>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
