<%= form_for(@call) do |f| %>
  <% if @call.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@call.errors.count, "error") %> prohibited this call from being saved:</h2>

      <ul>
      <% @call.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :callsid %><br>
    <%= f.text_field :callsid %>
  </div>
  <div class="field">
    <%= f.label :recordingsid %><br>
    <%= f.text_field :recordingsid %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
