<h1>Call Information</h1>
<p>
  <strong>Created:</strong>
  <%= @call.created_at %>
</p>
<p>
  <strong>Status:</strong>
  <%= @call.status%>
</p>
<p>
  <strong>Call SID:</strong>
  <%= @call.callsid %>
</p>

<p>
  <strong>Recording SID:</strong>
  <%= @call.recordingsid %>
</p>
<p>
  <strong>Caller:</strong>
  <%= @call.from%>
</p>
<p>
  <strong>Duration:</strong>
  <%= @call.duration%> seconds
</p>

<h1>Logs</h1>

<% @logs.each do |log| %>
<b><%= log.created_at.to_s + ": "%></b><%=log.message %></br>
<% end %>
</br>
<%= link_to 'Back', root_path %>
