<%= form_for(@phonebook) do |f| %>
  <% if @phonebook.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@phonebook.errors.count, "error") %> prohibited this phonebook entry from being saved:</h2>

      <ul>
      <% @phonebook.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">

    <%= f.hidden_field :company_id, value: current_user.company_id %>
  </div>
  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :number %><br>
    <%= f.text_field :number %>
  </div>

  <div class="actions">
    <%= f.submit "Create Phonebook Entry" %>
  </div>
<% end %>
