<p id="notice"><%= notice %></p>

<h1>Listing Phonebook Entries</h1>

<table id="1" border="1" class=" table table-striped table-bordered table-sm">
  <thead>
    <tr>

      <th>Number</th>
      <th>Name</th>
      <th colspan="2">Action</th>
    </tr>
  </thead>

  <tbody>
    <% @phonebooks.each do |phonebook| %>
      <tr>

        <td><%= phonebook.number %></td>
        <td><%= phonebook.name %></td>
        <td><%= link_to 'Edit', edit_phonebook_path(phonebook) %>
        <%= link_to 'Destroy', phonebook, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Phonebook Entry', new_phonebook_path %>
