<h1>Billing</h1>
<p>Select Month To View</p>
<%= form_tag billing_view_path, method: :get do %>
<%= select_month(Date.today) %>
<%= select_year(Date.today, start_year: 2019, end_year: 2025) %>
  <%= submit_tag "View" %>
<% end %>
