<h2>Usage For <%= @first_day.to_date%> to <%= @last_day.to_date %></h2>
<center>
<table border=1  class="table table-striped table-bordered table-sm">
  <tr>
    <th>Account No</th><th>Parent ID</th><th>Service ID</th><th>Service Name</th><th>aDDI</th><th>aDate</th><th>aTime</th><th>aSeconds</th><th>aCLI</th><th>aCost</th><th>aTimeBand</th><th>bDDI</th><th>bDate</th><th>bTime</th><th>bSeconds</th><th>bDestinationType</th><th>bTimeBand</th><th>bAccess</th><th>bCost</th><th>callRef</th><th>Prefix ID</th><th>RecordingFlag</th><th>RecordingDuration</th><th>RecordingCost</th>
    </tr>
    <% minutesCount = 0 %>
  <% @calls.each do |call| %>
  <tr>
    <td><%= call.company.id %></td>
    <td><%= call.company.id %></td>
    <td>1</td>
    <td>VRS</td>
    <td><%= call.company.number%> </td>
    <td><%= call.created_at.strftime("%Y%m%d")%></td>
    <td><%= call.created_at.strftime("%H:%M:%S")%></td>
    <td><%= call.duration%></td>
    <td><%= call.from %></td>
    <td><%= number_with_precision(1.3*(call.duration.to_f/60),:precision => 2) %></td>
    <td>D</td>
    <td><%= call.company.number %></td>
    <td><%= call.created_at.strftime("%Y%m%d")%></td>
    <td><%= call.created_at.strftime("%H:%M:%S")%></td>
    <td><%= call.duration%></td>
    <td>PSTN</td>
    <td>D</td>
    <td>0</td>
    <td>0</td>
    <td><%= call.callsid %></td>
    <td>VRS</td>
    <td>1</td>
    <td><%= call.duration%></td>
    <td>0.00</td>
    </tr>
  <% end %>
</table>
</center>
