
<%= form_for(@company) do |f| %>
  <% if @company.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@company.errors.count, "error") %> prohibited this company from being saved:</h2>

      <ul>
      <% @company.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label :name %><br>
    <%= f.text_field :name, class: 'form-control' %>
  </div>

   <div class="form-group">
    <%= f.label :message %><br>
    <%= f.text_field :message, class: 'form-control' %>
  </div>
  <div class="form-group">
    <%= f.label :number %><br>
    <%= f.text_field :number, class: 'form-control' %>
  </div>
  <div class="actions">
    <%= f.submit 'Update', :class => 'button right' %>
  </div>
<% end %>
