<p id="notice"><%= notice %></p>

<p>
  <strong>Call:</strong>
  <%= @log.call %>
</p>

<p>
  <strong>Message:</strong>
  <%= @log.message %>
</p>

<%= link_to 'Edit', edit_log_path(@log) %> |
<%= link_to 'Back', logs_path %>
