<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Hi <%= @user.email %>,</h1>
    <p>
    You have a new recording avaliable to listen to, please select one of the options below. 
    </p>
    <p>
      <a download href="https://api.twilio.com/2010-04-01/Accounts/<%= @call.company.accountSID%>/Recordings/<%= @call.recordingsid %>.wav?Download=true">Download Recording</a> | <%= link_to "View Online", @call %>

      </p>
  </body>
</html>
