<% if user_signed_in? %>
  <li class='nav-item'><%= link_to 'Edit account', edit_user_password_path, class: 'nav-link' %></li>
  <li class='nav-item'><%= link_to 'Sign out', destroy_user_session_path, :method=>'delete', class: 'nav-link' %></li>
<% else %>
  <li class='nav-item'><%= link_to 'Sign in', new_user_session_path, class: 'nav-link' %></li>
 <% end %>
<% if user_signed_in? %>
  <li class='nav-item'><%= link_to 'Userds', users_path, class: 'nav-link' %></li>
<% end %>
